.clipped_box {
  position: relative;
  width: 300px;
  height: 200px;
  background: #3498db;
  overflow: hidden;
  margin: auto;
}

.clipped_box::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-70%,40%);
  width: 200px; /* size of the circular cut */
  height: 200px;
  background: white; /* match the page background */
  border-radius: 100%;
}


